@model Hour

@foreach (Hour h in ViewBag.Gym.GymHours)
{
    <form action="/hours/process" method="post" class="mx-2 mt-2 fs-5">
        <div class="row">
            <div class="col-6 mb-2">
                <label for="SundayOpen">Sunday: Open</label>
                <input asp-for="SundayOpen" class="form-control" value='@h.SundayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="SundayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="SundayClose">Close</label>
                <input asp-for="SundayClose" class="form-control" value='@h.SundayClose?.ToString("hh:mm")'>
                <span asp-validation-for="SundayClose" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="MondayOpen">Monday: Open</label>
                <input asp-for="MondayOpen" class="form-control" value='@h.MondayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="MondayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="MondayClose">Close</label>
                <input asp-for="MondayClose" class="form-control" value='@h.MondayClose?.ToString("hh:mm")'>
                <span asp-validation-for="MondayClose" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="TuesdayOpen">Tuesday: Open</label>
                <input asp-for="TuesdayOpen" class="form-control" value='@h.TuesdayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="TuesdayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="TuesdayClose">Close</label>
                <input asp-for="TuesdayClose" class="form-control" value='@h.TuesdayClose?.ToString("hh:mm")'>
                <span asp-validation-for="TuesdayClose" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="WednesdayOpen">Wednesday: Open</label>
                <input asp-for="WednesdayOpen" class="form-control" value='@h.WednesdayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="WednesdayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="WednesdayClose">Close</label>
                <input asp-for="WednesdayClose" class="form-control" value='@h.WednesdayClose?.ToString("hh:mm")'>
                <span asp-validation-for="WednesdayClose" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="ThursdayOpen">Thursday: Open</label>
                <input asp-for="ThursdayOpen" class="form-control" value='@h.ThursdayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="ThursdayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="ThursdayClose">Close</label>
                <input asp-for="ThursdayClose" class="form-control" value='@h.ThursdayClose?.ToString("hh:mm")'>
                <span asp-validation-for="ThursdayClose" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="FridayOpen">Friday: Open</label>
                <input asp-for="FridayOpen" class="form-control" value='@h.FridayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="FridayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="FridayClose">Close</label>
                <input asp-for="FridayClose" class="form-control" value='@h.FridayClose?.ToString("hh:mm")'>
                <span asp-validation-for="FridayClose" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="SaturdayOpen">Saturday: Open</label>
                <input asp-for="SaturdayOpen" class="form-control" value='@h.SaturdayOpen?.ToString("hh:mm")'>
                <span asp-validation-for="SaturdayOpen" class="text-danger"></span>
            </div>
            <div class="col-6 mb-2">
                <label for="SaturdayClose">Close</label>
                <input asp-for="SaturdayClose" class="form-control" value='@h.SaturdayClose?.ToString("hh:mm")'>
                <span asp-validation-for="SaturdayClose" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="GymId" value="@ViewBag.Gym.GymId">
            </div>
            <div>
                <input type="submit" value="Edit Hours" class="btn btn-info mb-2">
            </div>
        </div>
    </form>
}