@{
    ViewData["Title"] = "Home Page";
}

<div class="container-main">
    <h1 class="text-center mt-2">Find The Right Gym For You</h1>

    <div class="row mb-2">
        @foreach (Gym g in ViewBag.Gyms)
        {
            <a href="/gym/display/@g.GymId" id="none" class="col-2 d-flex align-items-stretch">
                <div class="card" id="home-card">
                    <img src="@g.GymPics.First().ImageLink" alt="#" class="card-img-top img-fluid">
                    <div class="card-body row homec">
                        <h5 class="card-title fs-5">@g.GymName</h5>
                        <p>@g.Address1, @g.City, @g.State @g.Zip</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
